@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap");

* {
	font-family: "Kanit", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html {
	scroll-behavior: smooth;
}

body {
	color: white;
	display: flex;
	flex-direction: column;
}

header {
	background-color: black;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 2fr 2fr 1fr;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas:
		"heading heading heading"
		"intro intro intro"
		"end end end";
}

.heading {
	grid-area: heading;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 80px;
}

header nav ul {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	align-items: center;
}

header nav ul li {
	list-style: none;
	font-size: 100%;
	padding: 10px;
}

.intro {
	grid-area: intro;
	color: blueviolet;
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

main {
	display: grid;
	grid-template-columns: auto auto 2fr;
	grid-template-rows: 40vh auto auto 1fr;
	grid-template-areas:
		"asidea about end"
		"asidep project end"
		"asidec contact end"
		"footer footer footer";
}

h3 {
	color: chartreuse;
	font-size: 30px;
	margin: 15px;
}

#about-jump {
	grid-area: asidea;
}

.about {
	grid-area: about;
	color: black;
}

#project-jump {
	grid-area: asidep;
}
.projects {
	grid-area: project;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: auto;
	gap: 20px;
}

.project-card {
	color: aquamarine;
	border: 2px solid blue;
	box-sizing: content-box;
}

.project-card img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

#contact-jump {
	grid-area: asidec;
}
@media only screen and (min-width: 600px) {
	.heading {
		width: 95vw;
		margin: 20px;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-content: center;
	}
	.intro {
		text-align: center;
	}

	/* .projects {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	#p1 {
		grid-column-start: 1;
		grid-column-end: 3;
		width: 80%;
	} */
}
